body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

nav {
  padding: 10px 30px;
  color: #fff;
  font-weight: 800;
}

.rad{
padding: 10px;

}

.in{
  border-radius: 10px;
  padding: 10px;
  display: block;
}

.cb{
  padding: 10px;
  border-radius: 20;

}
.dp{
  padding: 10px;
  font-weight: 800;
}

.area{
  padding: 10px;
  font-weight: 700;
}
.tp{
  padding: 10px;
  color: 
  rgba(71, 206, 8, 0.719);
}